<div class="bento-uni-filter" *ngIf="showManageBarInfoComponent === false">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="bento-uni-filter_item">
          <div class="form-group">
            <div class="bento-uni-filter_item-header">
              <label for="combobox-company">Empresa</label>
            </div>
            <div>
              <app-combobox
                [id]="'combobox-company'"
                [items]="companyData$"
                (modelChange)="selectCompany($event)"
              >
              </app-combobox>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="bento-uni-filter_item">
          <div class="form-group">
            <div class="bento-uni-filter_item-header">
              <label for="combobox-branch">Estabelecimento</label>
            </div>
            <div>
              <app-combobox
                [id]="'combobox-branch'"
                [items]="branchData$"
                [searchServerSide]="true"
                (changeScroll)="infiniteScrollBranch($event)"
                (searchValue)="searchBranch($event)"
                (resetValues)="resetItemsBranch()"
                (modelChange)="selectBranch($event)"
              >
              </app-combobox>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="bento-uni-filter_item">
          <div class="form-group">
            <div class="bento-uni-filter_item-header">
              <label for="combobox-group">Grupo</label>
            </div>
            <div>
              <app-combobox
                [id]="'combobox-group'"
                [items]="groupData$"
                [(model)]="model.group"
                (modelChange)="selectGroup($event)"
              >
              </app-combobox>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="bento-uni-filter_item">
          <div class="form-group">
            <div class="bento-uni-filter_item-header">
              <label for="combobox-module">Módulo</label>
            </div>
            <div>
              <app-combobox
                [id]="'combobox-module'"
                [items]="moduleData$"
                [(model)]="model.module"
                (modelChange)="selectModule($event)"
              >
              </app-combobox>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-manager-bar-info
  [hasModuleSelected]="showManageBarInfoComponent"
  [modelManagerBarInfo]="model"
  (closeModule)="closeManagerBarInfo()"
></app-manager-bar-info>
