<div class="bento-uni-filter" *ngIf="hasModuleSelected === false">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="bento-uni-filter_item">
          <div class="form-group">
            <div class="bento-uni-filter_item-header">
              <label for="combobox-company">Empresa</label>
            </div>
            <div>
              <bento-combobox
                id="combobox-company"
                [(ngModel)]="model.company"
                [itemsObservable]="companyData"
                [options]="comboboxOptions"
                [rowTemplate]="managerComboTemplate"
              ></bento-combobox>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="bento-uni-filter_item">
          <div class="form-group">
            <div class="bento-uni-filter_item-header">
              <label for="combobox-branch">Estabelecimento</label>
            </div>
            <div>
              <bento-combobox
                id="combobox-branch"
                [(ngModel)]="model.branch"
                [itemsObservable]="branchData"
                [options]="comboboxOptions"
                [rowTemplate]="managerComboTemplate"
              ></bento-combobox>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="bento-uni-filter_item">
          <div class="form-group">
            <div class="bento-uni-filter_item-header">
              <label for="combobox-group">Grupo</label>
            </div>
            <div>
              <bento-combobox
                id="combobox-group"
                [(ngModel)]="model.group"
                [itemsObservable]="groupData"
                [options]="comboboxOptions"
                [rowTemplate]="managerComboTemplate"
              ></bento-combobox>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="bento-uni-filter_item">
          <div class="form-group">
            <div class="bento-uni-filter_item-header">
              <label for="combobox-module">Módulo</label>
            </div>
            <div>
              <bento-combobox
                id="combobox-module"
                [(ngModel)]="model.module"
                [itemsObservable]="moduleData"
                [options]="comboboxOptions"
                [rowTemplate]="managerComboTemplate"
                (ngModelChange)="openModule()"
              ></bento-combobox>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template
  #managerComboTemplate
  let-$data="data"
  let-$options="options"
  let-$index="index"
>
  <span>{{ $data.row.id }} - {{ $data.row.description }}</span>
</ng-template>

<bento-contextual-header
  [items]="managerBarInfo"
  [backButtonHidden]="true"
  [customButton]="this.closeModule()"
  *ngIf="hasModuleSelected"
>
</bento-contextual-header>
