<div class="select-container">
  <div *ngIf="inputLabelText">
    <label for="{{ id }}" [class]="getClass()">{{ inputLabelText }}</label>
  </div>
  <div>
    <select
      [id]="id"
      [name]="name ? name : id"
      [(ngModel)]="model"
      bentoSelect
      bfmField
      [bfmLabel]="bfmLabel ? bfmLabel : inputLabelText"
      class="input-control"
      [disabled]="disabled"
      [required]="required"
      [errorContainer]="errorContainer"
    >
      <option *ngFor="let item of items" [value]="item.value">
        {{ item.label }}
      </option>
    </select>
  </div>
  <bfm-error-container #errorContainer></bfm-error-container>
</div>
