<router-outlet
  (activate)="isHidden = true"
  (deactivate)="isHidden = false"
></router-outlet>
<div class="container" [hidden]="isHidden">
  <app-alert></app-alert>
  <div class="row">
    <div class="col-md-12">
      <h1>Documentos Fiscais de Mercadoria e Serviço</h1>
    </div>
  </div>
  <hr class="no-margin-t" />
  <form
    bfmForm
    (ngSubmit)="onSubmit()"
    novalidate
    [resetErrors]="resetErrors"
    #f="ngForm"
    [validations]="validations"
  >
    <div class="form-flex">
      <div class="form-group" style="width: 350px; margin-right: 20px">
        <app-autocomplete
          id="cod-estab"
          name="codEstab"
          bfmField
          bfmLabel="Estabelecimento"
          required="true"
          inputLabelText="Estabelecimento"
          model-field="codEstab"
          label-field="label"
          [show-all-option]="true"
          [(ngModel)]="formFilters.codEstab"
          [columns]="estabColumns"
          [blockSize]="25"
          [debounceTime]="1000"
          [headerTranslation]="estabHeaderTranslation"
          [searchCallback]="estabCallBackFunction"
          [disabled]="estabDisabled"
        >
        </app-autocomplete>
      </div>
      <div class="form-group" style="width: 200px">
        <app-date-picker
          id="data-saida-rec-ini"
          name="dataSaidaRecIni"
          bfmField
          bfmLabel="Data Inicial"
          required="true"
          inputLabelText="Data de Saída / Recebimento"
          buttonLabel="Abrir calendário"
          [(ngModel)]="formFilters.dataSaidaRecIni"
        ></app-date-picker>
      </div>
      <div class="form-group" style="width: 200px">
        <app-date-picker
          id="data-saida-rec-fim"
          name="dataSaidaRecFim"
          bfmField
          bfmLabel="Data Final"
          required="true"
          inputLabelText="&nbsp;"
          buttonLabel="Abrir calendário"
          [(ngModel)]="formFilters.dataSaidaRecFim"
        ></app-date-picker>
      </div>
      <div class="form-group">
        <label class="bento-label">&nbsp;</label>
        <div class="input-group">
          <input
            bento-fm-submit
            [disabled]="f.invalid"
            class="btn btn-default"
            type="submit"
            value="Pesquisar"
          />
        </div>
      </div>
    </div>
  </form>
  <app-flex-grid
    [gridColumnsData]="gridColumnsData"
    [toolbarDataItems]="toolbarData"
    [columnsToFilter]="columnsToFilter"
    [gridFilters]="gridFilters"
    [searchCallbackFunction]="searchCallbackFunction"
    [doubleClickCallbackFunction]="editInvoice"
    (onSelectedItem)="onSelectedItem($event)"
  ></app-flex-grid>
</div>
