<router-outlet
  (activate)="isHidden = true"
  (deactivate)="isHidden = false"
></router-outlet>

<div class="container" [hidden]="isHidden">
  <app-alert></app-alert>
  <div class="row">
    <div class="col-md-12">
      <h1>Documentos Fiscais de Mercadoria e Serviço</h1>
    </div>
  </div>
  <hr class="no-margin-t" />
  <form
    bfmForm
    (ngSubmit)="onSubmit()"
    novalidate
    [resetErrors]="resetErrors"
    #f="ngForm"
    [validations]="validations"
  >
    <div style="display: flex; flex-direction: row; flex-wrap: wrap">
      <div class="form-group" style="width: 350px; margin-right: 20px">
        <app-autocomplete
          id="cod-estab"
          name="codEstab"
          bfmField
          bfmLabel="Estabelecimento"
          required="true"
          inputLabelText="Estabelecimento"
          model-field="codEstab"
          label-field="label"
          [show-all-option]="true"
          [(ngModel)]="formFilters.estab"
          [columns]="estabColumns"
          [blockSize]="15"
          [headerTranslation]="estabHeaderTranslation"
          [searchCallback]="estabCallBackFunction"
          [disabled]="estabDisabled"
        >
        </app-autocomplete>
      </div>
      <div class="form-group" style="width: 200px">
        <app-date-picker
          id="data-saida-rec-ini"
          name="dataSaidaRecIni"
          bfmField
          bfmLabel="Data Inicial"
          required="true"
          label="Data de Saída / Recebimento"
          buttonLabel="Abrir calendário"
          [(ngModel)]="formFilters.dataSaidaRecIni"
        ></app-date-picker>
      </div>
      <div class="form-group" style="width: 200px">
        <app-date-picker
          id="data-saida-rec-fim"
          name="dataSaidaRecFim"
          bfmField
          bfmLabel="Data Final"
          required="true"
          label="&nbsp;"
          buttonLabel="Abrir calendário"
          [(ngModel)]="formFilters.dataSaidaRecFim"
        ></app-date-picker>
      </div>
      <div class="form-group">
        <label class="bento-label">&nbsp;</label>
        <div class="input-group">
          <input
            bento-fm-submit
            [disabled]="f.invalid"
            class="btn btn-default"
            type="submit"
            value="Pesquisar"
          />
        </div>
      </div>
    </div>
  </form>
  <div class="row" bento-off-canvas-menu-content>
    <div class="col-md-12">
      <bento-toolbar
        class="bento-toolbar"
        [items]="toolbarData"
      ></bento-toolbar>
      <wj-flex-grid
        #flexGrid
        class="bento-flex-grid"
        style="min-height: 300px"
        [itemsSource]="data"
        [bentoBusyLoader]="isGridBusyLoader"
        selectionMode="Row"
        (initialized)="onGridInitialized()"
        (selectionChanged)="onSelectionChanged($event)"
        [(ngModel)]="selectedRowIndex"
      >
        <ng-template
          wjFlexGridCellTemplate
          [cellType]="'RowHeader'"
          let-col="col"
          let-row="row"
        >
          <div *ngIf="col.index === 0">{{ row.index + 1 }}</div>
        </ng-template>
        <wj-flex-grid-filter
          #gridFilter
          [filterColumns]="columnsToFilter"
          defaultFilterType="1"
          [showSortButtons]="false"
          (filterChanged)="onFilterChanged(gridFilter, $event)"
        ></wj-flex-grid-filter>
        <wj-flex-grid-column
          header="Estabelecimento"
          binding="codEstab"
          isReadOnly="true"
          [allowSorting]="false"
        ></wj-flex-grid-column>
        <wj-flex-grid-column
          header="Número NF"
          binding="numDocfis"
          isReadOnly="true"
          [allowSorting]="false"
        ></wj-flex-grid-column>
        <wj-flex-grid-column
          header="Série NF"
          binding="serieDocfis"
          isReadOnly="true"
          [allowSorting]="false"
        ></wj-flex-grid-column>
        <wj-flex-grid-column
          header="Pessoa Fis/Jur"
          binding="pessoa.codigo"
          isReadOnly="true"
          [allowSorting]="false"
        ></wj-flex-grid-column>
        <wj-flex-grid-column
          header="Data Emissão"
          binding="dataEmissao"
          isReadOnly="true"
          [allowSorting]="false"
          [dataType]="4"
          format="dd/MM/yyyy"
          [align]="'center'"
        ></wj-flex-grid-column>
        <wj-flex-grid-column
          header="Data de Saída/Recebimento"
          binding="dataSaidaRec"
          isReadOnly="true"
          [allowSorting]="false"
          [dataType]="4"
          format="dd/MM/yyyy"
          [align]="'center'"
        ></wj-flex-grid-column>
        <wj-flex-grid-column
          header="Tipo Documento"
          binding="tipoDocto.codDocto"
          isReadOnly="true"
          [allowSorting]="false"
        ></wj-flex-grid-column>
        <wj-flex-grid-column
          header="Cód. Classificação"
          binding="codClassDocFis"
          isReadOnly="true"
          [allowSorting]="false"
        ></wj-flex-grid-column>
        <wj-flex-grid-column
          header="Movto. E/S"
          binding="movtoES"
          isReadOnly="true"
          [allowSorting]="false"
        ></wj-flex-grid-column>
        <wj-flex-grid-column
          header="Norm. / Dev."
          binding="normDev"
          isReadOnly="true"
          [allowSorting]="false"
        ></wj-flex-grid-column>
        <wj-flex-grid-column
          header="Valor da NFe"
          binding="vlrTotNota"
          isReadOnly="true"
          [allowSorting]="false"
          [dataType]="2"
          format="n2"
        ></wj-flex-grid-column>
      </wj-flex-grid>
      <bento-pagination
        #paginator
        [(page)]="pageInfo.page"
        [directionLinks]="true"
        [boundaryLinks]="true"
        [goToLink]="true"
        [totalItems]="pageInfo.totalItemCount"
        [(itemsPerPage)]="data.pageSize"
        (itemsPerPageChange)="onPageSizeChanged($event)"
        (pageChange)="onPageChanged($event)"
        [itemsArray]="pageInfo.itemsArray"
        [infoText]="pageInfo.infoText"
        [infoPageText]="pageInfo.infoPageText"
        [goToText]="pageInfo.goToText"
      ></bento-pagination>
    </div>
  </div>
</div>
