<div class="input-group-addon">
  <em class="bento-icon-folder-open modal-button" (click)="open(content)"></em>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 id="modal-scrollable-title">{{ title }}</h3>
  </div>
  <div class="modal-body">
    <app-flex-grid
      [gridFilters]="gridFilters"
      [gridColumnsData]="gridColumnsData"
      [startLoading]="startLoading"
      [searchCallbackFunction]="searchCallbackFunction"
      [doubleClickCallbackFunction]="onDoubleClickCallbackFunction"
      (selectedItem)="onSelectedItem($event)"
    ></app-flex-grid>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="selectClose(); c('Close click')"
    >
      Selecionar
    </button>
    <button
      [disabled]="!selectedItem"
      type="button"
      class="btn btn-outline-primary"
      (click)="c('Close click')"
    >
      Cancelar
    </button>
  </div>
</ng-template>
