<div class="homeT1">
  <div class="container align-middle">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-content">
            <img
              src="./assets/images/tr-comunidade.svg"
              alt=""
              width="64"
              height="64"
            />
            <h4>Thomson Reuters Community</h4>
            <div class="card-description">
              <p>Grupo de usuários do ONESOURCE Tax One.</p>
            </div>
            <div class="card-more">
              <a
                href="https://roadmap.thomsonreuters.com/comunidade/comunidade.html"
                target="_blank"
                class="btn-card"
                >Saiba mais</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-content">
            <img
              src="./assets/images/tr-customerinfluencer.svg"
              alt=""
              width="64"
              height="64"
            />
            <h4>Resenha Diária Personalizada</h4>
            <div class="card-description">
              <p>
                Acompanhe as publicações diárias dos órgãos oficiais de acordo
                com o cenário da sua empresa.
              </p>
            </div>
            <div class="card-more">
              <a href="#" class="btn-card" ng-click="loadCheckpoint()"
                >Saiba Mais</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-content">
            <img
              src="./assets/images/tr-comunicados.svg"
              alt=""
              width="64"
              height="64"
            />
            <h4>Comunicados Thomson Reuters</h4>
            <div class="card-description"><p>Comunicados gerais.</p></div>
            <div class="card-more">
              <a
                href="https://suporte.thomsonreuters.com.br/hc/pt-br/articles/360044798631-Comunicados-Thomson-Reuters"
                target="_blank"
                class="btn-card"
                >Saiba Mais</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-content">
            <img
              src="./assets/images/tr-roadmap.svg"
              alt=""
              width="64"
              height="64"
            />
            <h4>Roadmap de Produtos</h4>
            <div class="card-description">
              <p>Acompanhe a evolução de nossos produtos.</p>
            </div>
            <div class="card-more">
              <a
                href="https://roadmap.thomsonreuters.com/"
                target="_blank"
                class="btn-card"
                >Saiba Mais</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-content">
            <img
              src="./assets/images/tr-oquehadenovo.svg"
              alt=""
              width="64"
              height="64"
            />
            <h4>O que há de novo no produto?</h4>
            <div class="card-description">
              <p>Atualizações do ONESOURCE Tax One.</p>
            </div>
            <div class="card-more">
              <a
                href="https://community.thomsonreuters.com/onesource/tax-one/"
                target="_blank"
                class="btn-card"
                >Saiba mais</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-content">
            <img
              src="./assets/images/tr-web-help.svg"
              alt=""
              width="64"
              height="64"
            />
            <h4>Web Help</h4>
            <div class="card-description">
              <p>
                Acesse os Informativos, Manuais Operacionais e Técnicos que
                auxiliam na jornada do Produto.
              </p>
            </div>
            <div class="card-more">
              <a
                href="https://prd-api-oms.thomsonreuters.com/docs/taxone/"
                target="_blank"
                class="btn-card"
                >Saiba Mais</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
