<div class="container">
  <div class="row pt-5">
    <div class="col-lg-12 text-center">
      <em class="h1 bento-icon-browse"></em>
      <h2>Página não encontrada</h2>
      <span>
        <p>
          A página que você está procurando pode ter sido alterada ou está
          temporariamente indisponível. <br />
          Confira a URL.
        </p>
      </span>

      <div class="error-actions">
        <a class="btn btn-link">Entrar em contato com o suporte</a>
      </div>
    </div>
  </div>
</div>
