<bento-combobox
  *ngIf="searchServerSide == true"
  [itemsObservable]="items"
  [options]="comboboxOptionServerSide"
  [rowTemplate]="comboRowTemplate"
  [(ngModel)]="model"
  (endOfScroll)="onEndOfScroll($event)"
  (search)="searchData($event)"
  (resetItems)="resetData()"
  (ngModelChange)="changeValue($event)"
></bento-combobox>

<bento-combobox
  *ngIf="searchServerSide == false"
  [itemsObservable]="items"
  [options]="comboboxOption"
  [rowTemplate]="comboRowTemplate"
  [(ngModel)]="model"
  (ngModelChange)="changeValue($event)"
></bento-combobox>
<span
  [bentoBusyLoader]="isBusyLoader"
  [size]="'sm'"
  class="app-combobox-loader"
></span>

<ng-template
  #comboRowTemplate
  let-$data="data"
  let-$options="options"
  let-$index="index"
>
  <span>{{ $data.row.description }}</span>
</ng-template>
