<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Informações Gerais</h3>
    </div>
  </div>
  <hr class="no-margin-t" />
  <form
    bfmForm
    (ngSubmit)="onSubmit()"
    novalidate
    [resetErrors]="resetErrors"
    #f="ngForm"
    [validations]="validations"
  >
    <div class="form-row-space-between">
      <div class="form-group" style="width: 100%">
        <app-autocomplete
          id="cod-estab"
          name="codEstab"
          bfmField
          bfmLabel="Estabelecimento"
          required="true"
          inputLabelText="Estabelecimento"
          model-field="codEstab"
          label-field="label"
          [show-all-option]="false"
          [(ngModel)]="estabelecimento"
          [columns]="estabColumns"
          [blockSize]="15"
          [headerTranslation]="estabHeaderTranslation"
          [searchCallback]="estabCallBackFunction"
          [disabled]="isDisabled()"
        >
        </app-autocomplete>
      </div>
    </div>
    <div class="form-row-space-between">
      <div class="form-group">
        <app-date-picker
          id="data-fiscal"
          name="data-fiscal"
          bfmField
          bfmLabel="Data Fiscal"
          inputLabelText="Data Fiscal"
          required="true"
          buttonLabel="Abrir calendário"
          [(ngModel)]="coverData.id.dataFiscal"
          [disabled]="isDisabled()"
        ></app-date-picker>
      </div>
      <div class="form-group">
        <app-date-picker
          id="data-emissao"
          name="data-emissao"
          bfmField
          bfmLabel="Data de Emissão"
          inputLabelText="Data de Emissão"
          required="true"
          buttonLabel="Abrir calendário"
          [(ngModel)]="coverData.dataEmissao"
          [disabled]="isDisabled()"
        ></app-date-picker>
      </div>
      <div class="form-group">
        <app-number-input
          id="hora-emissao"
          name="hora-emissao"
          inputLabelText="Hora Emissão"
          bfmField
          bfmLabel="Hora Emissão"
          [(ngModel)]="coverData.horaEmissao"
          [min]="0"
          [max]="24"
          [disabled]="isDisabled()"
        ></app-number-input>
      </div>
      <div class="form-group">
        <app-date-picker
          id="data-saida-rec"
          name="data-saida-rec"
          bfmField
          bfmLabel="Data Entrada/Saida"
          inputLabelText="Data Entrada/Saida"
          required="true"
          buttonLabel="Abrir calendário"
          [(ngModel)]="coverData.dataSaidaRec"
          [disabled]="isDisabled()"
        ></app-date-picker>
      </div>
      <div class="form-group">
        <app-number-input
          id="hora-saida-rec"
          name="hora-saida-rec"
          bfmField
          bfmLabel="Hora Entrada/Saída"
          inputLabelText="Hora Entrada/Saída"
          [(ngModel)]="coverData.horaSaidaRec"
          [min]="0"
          [max]="24"
          [disabled]="isDisabled()"
        ></app-number-input>
      </div>
      <div class="form-group">
        <app-date-picker
          id="dt-extemp"
          name="dt-extemp"
          bfmField
          bfmLabel="Dt. Extemp"
          inputLabelText="Dt. Extemp"
          buttonLabel="Abrir calendário"
          [(ngModel)]="coverData.datEscrExtemp"
          [disabled]="isDisabled()"
        ></app-date-picker>
      </div>
    </div>
    <div class="form-row-space-between">
      <app-select
        id="e-s"
        name="e-s"
        bfmField
        bfmLabel="E/S"
        inputLabelText="E/S"
        [items]="movtoESItems"
        [(ngModel)]="coverData.id.movtoES"
        required="true"
        [disabled]="isDisabled()"
      ></app-select>
      <app-select
        id="norm-dev"
        name="norm-dev"
        bfmField
        bfmLabel="N/D"
        inputLabelText="N/D"
        required="true"
        [items]="normDevItems"
        [(ngModel)]="coverData.id.normDev"
        [disabled]="isDisabled()"
      ></app-select>
      <app-checkbox
        id="ind-nf-venda-terceiros"
        name="ind-nf-venda-terceiros"
        bfmField
        bfmLabel="Nota Fiscal de venda emitida por terceiro"
        inputLabelText="Nota Fiscal de venda emitida por terceiro"
        [(ngModel)]="coverData.indNfVendaTerceiros"
      ></app-checkbox>
    </div>
  </form>
</div>
{{ coverData | json }}
