<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Informações Gerais</h3>
    </div>
  </div>
  {{ params | json }}
  <hr class="no-margin-t" />
  <form
    bfmForm
    (ngSubmit)="onSubmit()"
    [resetErrors]="resetErrors"
    #f="ngForm"
    [validations]="validations"
  >
    <div class="form-row-space-between">
      <div class="form-group" style="width: 100%">
        <t1dw-autocomplete
          id="cod_estab"
          name="cod_estab"
          inputLabelText="Estabelecimento"
          model-field="codEstab"
          label-field="label"
          [(ngModel)]="coverData.id.codEstab"
          [columns]="estabColumns"
          [blockSize]="25"
          [debounceTime]="1000"
          [headerTranslation]="estabHeaderTranslation"
          [searchCallback]="loadEstabelecimentos"
          [disabled]="
            params.operation !== 'new' || isEstablishmentAlreadyDefined
          "
          [required]="true"
        >
        </t1dw-autocomplete>
      </div>
    </div>
    <div class="form-row-space-between">
      <div class="form-group">
        <t1dw-date-picker
          id="data_fiscal"
          name="data_fiscal"
          inputLabelText="Data Fiscal"
          buttonLabel="Abrir calendário"
          [(ngModel)]="coverData.id.dataFiscal"
          [disabled]="true"
          [required]="true"
        ></t1dw-date-picker>
      </div>
      <div class="form-group">
        <t1dw-date-picker
          id="data_emissao"
          name="data_emissao"
          bfmLabel="Data de Emissão"
          inputLabelText="Data de Emissão"
          buttonLabel="Abrir calendário"
          [(ngModel)]="coverData.dataEmissao"
          [disabled]="params.operation !== 'new'"
          [required]="true"
        ></t1dw-date-picker>
      </div>
      <div class="form-group">
        <t1dw-input-number
          id="hora_emissao"
          name="hora_emissao"
          inputLabelText="Hora Emissão"
          [(ngModel)]="coverData.horaEmissao"
          [min]="0"
          [max]="24"
          [disabled]="params.operation !== 'new'"
          [required]="false"
        ></t1dw-input-number>
      </div>
      <div class="form-group">
        <t1dw-date-picker
          id="data_saida_rec"
          name="data_saida_rec"
          bfmField
          bfmLabel="Data Entrada/Saida"
          inputLabelText="Data Entrada/Saida"
          [required]="true"
          buttonLabel="Abrir calendário"
          [(ngModel)]="coverData.dataSaidaRec"
          [disabled]="params.operation !== 'new'"
          (ngModelChange)="onChangeDataFiscal()"
        ></t1dw-date-picker>
      </div>
      <div class="form-group">
        <t1dw-input-number
          id="hora_saida_rec"
          name="hora_saida_rec"
          bfmLabel="Hora E/S"
          inputLabelText="Hora Entrada/Saída"
          [(ngModel)]="coverData.horaSaidaRec"
          [min]="0"
          [max]="24"
          [disabled]="params.operation !== 'new'"
          [required]="false"
        ></t1dw-input-number>
      </div>
      <div class="form-group">
        <t1dw-date-picker
          id="dt_extemp"
          name="dt_extemp"
          inputLabelText="Dt. Extemp"
          buttonLabel="Abrir calendário"
          [(ngModel)]="coverData.datEscrExtemp"
          [disabled]="params.operation !== 'new'"
          [required]="false"
        ></t1dw-date-picker>
      </div>
    </div>
    <div class="form-row-space-between">
      <div class="form-group">
        <t1dw-select
          id="e_s"
          name="e_s"
          inputLabelText="E/S"
          [items]="movtoESItems"
          [(ngModel)]="coverData.id.movtoES"
          [required]="true"
          [disabled]="params.operation !== 'new'"
        ></t1dw-select>
      </div>
      <div class="form-group">
        <t1dw-select
          id="norm_dev"
          name="norm_dev"
          inputLabelText="N/D"
          [required]="true"
          [items]="normDevItems"
          [(ngModel)]="coverData.id.normDev"
          [disabled]="params.operation !== 'new'"
        ></t1dw-select>
      </div>
      <div class="form-group">
        <t1dw-checkbox
          id="ind_nf_venda_terceiros"
          name="ind_nf_venda_terceiros"
          inputLabelText="Nota Fiscal de venda emitida por terceiro"
          [(ngModel)]="coverData.indNfVendaTerceiros"
        ></t1dw-checkbox>
      </div>
    </div>
    <div class="form-row-flex">
      <div
        class="form-row-flex"
        style="width: 360px; column-gap: 5px; flex-wrap: nowrap"
      >
        <div class="form-group">
          <t1dw-input-text
            id="num_docFis"
            name="num_docFis"
            inputLabelText="Número NF"
            [(ngModel)]="coverData.id.numDocfis"
            width="150px"
            [maxlength]="12"
            [required]="true"
            [disabled]="params.operation !== 'new'"
          >
          </t1dw-input-text>
        </div>
        <div class="form-group">
          <t1dw-input-text
            id="serie_docfis"
            name="serie_docfis"
            bfmLabel="Serie NF"
            inputLabelText="&nbsp;"
            [(ngModel)]="coverData.id.serieDocfis"
            width="100px"
            [maxlength]="3"
            [disabled]="params.operation !== 'new'"
          >
          </t1dw-input-text>
        </div>
        <div class="form-group">
          <t1dw-input-text
            id="sub_serie_docfis"
            name="sub_serie_docfis"
            inputLabelText="&nbsp;"
            [(ngModel)]="coverData.id.subSerieDocfis"
            width="100px"
            [maxlength]="2"
            [disabled]="params.operation !== 'new'"
          >
          </t1dw-input-text>
        </div>
      </div>
      <div class="form-group">
        <t1dw-autocomplete
          id="cod_docto"
          name="cod_docto"
          inputLabelText="Tipo de Documento"
          [(ngModel)]="coverData.id.codDocto"
          [columns]="defaultColumns"
          model-field="codigo"
          label-field="label"
          [blockSize]="25"
          [debounceTime]="1000"
          [minSearchCharacterCount]="2"
          [headerTranslation]="defaultHeaderTranslation"
          [searchCallback]="loadTipoDocumento"
          [disabled]="
            params.operation !== 'new' ||
            !coverData.id.codEstab ||
            !coverData.id.dataFiscal
          "
          [required]="true"
        >
        </t1dw-autocomplete>
      </div>
    </div>
    <div class="form-row-flex" *ngIf="isServiceInvoice() || isMixedInvoice()">
      <div class="form-group" style="width: 100%">
        <t1dw-input-text
          id="num_docfis_serv"
          name="num_docfis_serv"
          inputLabelText="Número NF (60 posições)"
          [(ngModel)]="coverData.numDocfisServ"
          width="100%"
          [maxlength]="60"
          [disabled]="isNumDocfisServEnabled"
        >
        </t1dw-input-text>
      </div>
    </div>
    <div class="form-row-space-between">
      <div class="form-row-flex" style="flex-direction: column; width: 15%">
        <label for="ind_fis_jur" class="bento-label-required">Fis/Jur</label>
        <div class="flex-row-compose form-group">
          <t1dw-modal
            title="Pessoa Física / Jurídica"
            size="xl"
            [gridColumnsData]="pessoaFisJurModalGrid"
            [search]="pessoaFisJurModalSearch"
            (closeSelectedItem)="pessoaFisJurSelected($event)"
            [disabled]="
              params.operation !== 'new' ||
              !coverData.id.codEstab ||
              !coverData.id.dataFiscal
            "
          ></t1dw-modal>
          <div class="form-group" style="width: 100%">
            <t1dw-select
              id="ind_fis_jur"
              name="ind_fis_jur"
              bfmField
              bfmLabel="N/D"
              [required]="true"
              [items]="naturalLegalIndicators"
              [(ngModel)]="coverData.id.indFisJur"
              [disabled]="
                params.operation !== 'new' ||
                !coverData.id.codEstab ||
                !coverData.id.dataFiscal
              "
              (ngModelChange)="
                coverData.id.codFisJur = undefined;
                coverData.razaoSocialFisJur = undefined
              "
            ></t1dw-select>
          </div>
        </div>
      </div>
      <div class="form-group" style="width: 15%">
        <t1dw-input-text
          id="cod_fis_jur"
          name="cod_fis_jur"
          bfmLabel="Código Fis/Jur"
          inputLabelText="&nbsp;"
          [(ngModel)]="coverData.id.codFisJur"
          [required]="true"
          [maxlength]="14"
          (blur)="findFisJur()"
          [disabled]="
            params.operation !== 'new' ||
            !coverData.id.codEstab ||
            !coverData.id.dataFiscal
          "
        >
        </t1dw-input-text>
      </div>
      <div class="form-group" style="width: 48%">
        <t1dw-input-text
          id="razao_social_fis_jur"
          name="razao_social_fis_jur"
          inputLabelText="&nbsp;"
          [(ngModel)]="coverData.razaoSocialFisJur"
          [disabled]="true"
        >
        </t1dw-input-text>
      </div>
      <div class="form-group" style="width: 20%">
        <t1dw-input-text
          id="fis_jur_cpf_cnpj"
          name="fis_jur_cpf_cnpj"
          inputLabelText="CPF/CNPJ"
          [(ngModel)]="coverData.fisJurCpfCnpj"
          [maxlength]="14"
          [disabled]="true"
        >
        </t1dw-input-text>
      </div>
    </div>
    <div class="form-row-space-between">
      <div class="form-group" style="flex-grow: 4">
        <t1dw-autocomplete
          id="cod_modelo"
          name="cod_modelo"
          inputLabelText="Modelo Doc."
          [(ngModel)]="coverData.codModelo"
          [columns]="defaultColumns"
          model-field="codigo"
          label-field="label"
          [blockSize]="25"
          [debounceTime]="1000"
          [minSearchCharacterCount]="2"
          [headerTranslation]="defaultHeaderTranslation"
          [searchCallback]="loadModeloDocumento"
        >
        </t1dw-autocomplete>
      </div>
      <div class="form-group">
        <t1dw-autocomplete
          id="cod_Trib_int"
          name="cod_Trib_int"
          inputLabelText="Trib. Interna"
          [(ngModel)]="coverData.codTribInt"
          [columns]="defaultColumns"
          model-field="codigo"
          label-field="label"
          [blockSize]="25"
          [debounceTime]="1000"
          [minSearchCharacterCount]="2"
          [headerTranslation]="defaultHeaderTranslation"
          [searchCallback]="loadTributacaoInterna"
        >
        </t1dw-autocomplete>
      </div>
    </div>
    <div class="form-row-flex">
      <div class="form-group">
        <t1dw-select
          id="modelo_nf_dm"
          name="modelo_nf_dm"
          inputLabelText="Código Modelo NF"
          [items]="modeloNfDmItems"
          [(ngModel)]="coverData.codModeloCotepe"
        ></t1dw-select>
      </div>
    </div>
    <div class="form-row-space-between">
      <div class="form-group" style="max-width: 250px">
        <t1dw-select
          id="cod_class_doc_fis"
          name="cod_class_doc_fis"
          inputLabelText="Clas. Doc. Fiscal"
          [items]="codClassDocFisItems"
          [(ngModel)]="coverData.codClassDocFis"
          [disabled]="params.operation != 'new'"
          [required]="true"
          (ngModelChange)="onChangeCodClassDocFis()"
        ></t1dw-select>
      </div>
      <div class="form-group">
        <t1dw-checkbox
          id="situacao"
          name="situacao"
          inputLabelText="Sit. Cancelado"
          [(ngModel)]="coverData.situacao"
        ></t1dw-checkbox>
      </div>
      <div class="form-group">
        <t1dw-date-picker
          id="dat_autentic"
          name="dat_autentic"
          inputLabelText="Data Autent./Cancel"
          buttonLabel="Abrir calendário"
          [(ngModel)]="coverData.datAutentic"
        ></t1dw-date-picker>
      </div>
      <div class="form-group">
        <t1dw-checkbox
          id="contrib_final"
          name="contrib_final"
          inputLabelText="Contrib. (S/N)"
          [(ngModel)]="coverData.contribFinal"
        ></t1dw-checkbox>
      </div>
      <div class="form-group" style="max-width: 400px">
        <t1dw-select
          id="ind_transf_cred"
          name="ind_transf_cred"
          inputLabelText="NF Transferência"
          [items]="indTransfCredItems"
          [(ngModel)]="coverData.indTransfCred"
        ></t1dw-select>
      </div>
    </div>
    <div class="form-row-flex">
      <div class="form-group">
        <t1dw-select
          id="ind_nfe_deneg_inut"
          name="ind_nfe_deneg_inut"
          inputLabelText="NF Eletrônica denegada/inutilizada"
          [items]="indNfeDenegInutItems"
          [(ngModel)]="coverData.indNfeDenegInut"
        ></t1dw-select>
      </div>
      <div class="form-group">
        <t1dw-select
          id="ind_nf_contingencia"
          name="ind_nf_contingencia"
          inputLabelText="NF emitida em contingência"
          [items]="indNfContingenciaItems"
          [(ngModel)]="coverData.indNfContingencia"
        ></t1dw-select>
      </div>
    </div>
    <div class="form-row-flex">
      <div class="form-group">
        <t1dw-input-text
          id="num_docfis_ref"
          name="num_docfis_ref"
          inputLabelText="NF Referência"
          [(ngModel)]="coverData.numDocfisRef"
          width="150px"
          [maxlength]="12"
        >
        </t1dw-input-text>
      </div>
      <div class="form-group">
        <t1dw-input-text
          id="serie_docfis_ref"
          name="serie_docfis_ref"
          inputLabelText="&nbsp;"
          [(ngModel)]="coverData.serieDocfisRef"
          width="100px"
          [maxlength]="3"
        >
        </t1dw-input-text>
      </div>
      <div class="form-group">
        <t1dw-input-text
          id="sub_serie_docfis_ref"
          name="sub_serie_docfis_ref"
          inputLabelText="&nbsp;"
          [(ngModel)]="coverData.subSerieDocfisRef"
          width="100px"
          [maxlength]="2"
        >
        </t1dw-input-text>
      </div>
      <div class="form-group">
        <t1dw-input-text
          id="num_dec_imp_ref"
          name="num_dec_imp_ref"
          inputLabelText="N Dec. Imp"
          [(ngModel)]="coverData.numDecImpRef"
          [maxlength]="12"
        >
        </t1dw-input-text>
      </div>
      <div class="form-group">
        <t1dw-date-picker
          id="dat_di"
          name="dat_di"
          inputLabelText="Dt. Imp/Dt. Doc. Ref"
          buttonLabel="Abrir calendário"
          [(ngModel)]="coverData.datDi"
        ></t1dw-date-picker>
      </div>
    </div>
    <div class="form-row-space-between">
      <div class="form-group">
        <t1dw-input-text
          id="num_fim_docto"
          name="num_fim_docto"
          inputLabelText="N Final (Resumo)"
          [(ngModel)]="coverData.numFimDocto"
          [maxlength]="12"
        >
        </t1dw-input-text>
      </div>
      <div class="form-group">
        <t1dw-autocomplete
          id="insc_estadual"
          name="insc_estadual"
          inputLabelText="Insc. Estadual"
          model-field="inscEstadual"
          label-field="inscEstadual"
          [(ngModel)]="coverData.inscEstadual"
          [columns]="inscEstadualColumns"
          [blockSize]="25"
          [debounceTime]="1000"
          [headerTranslation]="inscEstadualHeaderTranslation"
          [searchCallback]="loadInscricaoEstadual"
        >
        </t1dw-autocomplete>
      </div>
      <div class="form-group">
        <t1dw-input-text
          id="cod_sistema_orig"
          name="cod_sistema_orig"
          inputLabelText="Cod. do Sistema de Origem"
          [(ngModel)]="coverData.codSistemaOrig"
          [maxlength]="14"
        >
        </t1dw-input-text>
      </div>
    </div>
    <div class="form-row-space-between">
      <div class="form-group">
        <t1dw-autocomplete
          id="compl_cfop"
          name="compl_cfop"
          inputLabelText="CFOP/Compl."
          model-field="codigoCfo"
          label-field="label"
          [(ngModel)]="coverData.codCfo"
          [columns]="codCfoColumns"
          [blockSize]="25"
          [debounceTime]="1000"
          [headerTranslation]="codCfoHeaderTranslation"
          [searchCallback]="loadCFOP"
          [disabled]="!coverData.id.codEstab || !coverData.id.dataFiscal"
        >
        </t1dw-autocomplete>
      </div>
      <div class="form-group">
        <t1dw-autocomplete
          id="cod_natureza_op"
          name="cod_natureza_op"
          inputLabelText="Natureza da Operação"
          model-field="codigo"
          label-field="label"
          [(ngModel)]="coverData.codNaturezaOp"
          [columns]="codNaturezaOpColumns"
          [blockSize]="25"
          [debounceTime]="1000"
          [headerTranslation]="codNaturezaOpHeaderTranslation"
          [searchCallback]="loadNaturezaOperacoes"
          [disabled]="!coverData.id.codEstab || !coverData.id.dataFiscal"
        >
        </t1dw-autocomplete>
      </div>
    </div>
    <div class="form-row-space-between">
      <div class="form-group">
        <t1dw-autocomplete
          id="cod_situacao_a"
          name="cod_situacao_a"
          inputLabelText="Sit. Tributária A"
          model-field="codigo"
          label-field="label"
          [(ngModel)]="coverData.codSituacaoA"
          [columns]="defaultColumns"
          [blockSize]="25"
          [debounceTime]="1000"
          [headerTranslation]="defaultHeaderTranslation"
          [searchCallback]="loadSituacaoTributariaA"
          [disabled]="!coverData.id.codEstab || !coverData.id.dataFiscal"
        >
        </t1dw-autocomplete>
      </div>
      <div class="form-group">
        <t1dw-autocomplete
          id="cod_situacao_b"
          name="cod_situacao_b"
          inputLabelText="Sit. Tributária B"
          model-field="codigo"
          label-field="label"
          [(ngModel)]="coverData.codSituacaoB"
          [columns]="defaultColumns"
          [blockSize]="25"
          [debounceTime]="1000"
          [headerTranslation]="defaultHeaderTranslation"
          [searchCallback]="loadSituacaoTributariaB"
          [disabled]="!coverData.id.codEstab || !coverData.id.dataFiscal"
        >
        </t1dw-autocomplete>
      </div>
    </div>
    <div class="form-row-space-between">
      <div class="form-group">
        <t1dw-select
          id="ind_situacao_esp"
          name="ind_situacao_esp"
          inputLabelText="Situação Especial"
          [items]="indSituacaoEspItems"
          [(ngModel)]="coverData.indSituacaoEsp"
        ></t1dw-select>
      </div>
    </div>
    <div class="form-row-space-between">
      <div class="form-group" style="max-width: 200px">
        <t1dw-select
          id="ind_nf_especial"
          name="ind_nf_especial"
          inputLabelText="NF Incentivada"
          [items]="indNfEspecialItems"
          [(ngModel)]="coverData.indNfEspecial"
        ></t1dw-select>
      </div>
      <div class="form-group" style="max-width: 250px">
        <t1dw-select
          id="ind_modelo_cupom"
          name="ind_modelo_cupom"
          inputLabelText="Mod. Cupom"
          [items]="indModeloCupomItems"
          [(ngModel)]="coverData.indModeloCupom"
        ></t1dw-select>
      </div>
      <div class="form-group" style="max-width: 100px">
        <t1dw-input-text
          id="num_cupom_final"
          name="num_cupom_final"
          inputLabelText="Nº Final"
          [(ngModel)]="coverData.numCupomFinal"
          [maxlength]="6"
          textAlign="center"
          pattern="[0-9]"
        ></t1dw-input-text>
      </div>
      <div class="form-group" style="max-width: 100px">
        <t1dw-input-text
          id="num_maquina"
          name="num_maquina"
          inputLabelText="Nº Máq"
          [(ngModel)]="coverData.numMaquina"
          [maxlength]="6"
          textAlign="center"
          pattern="[0-9]"
        ></t1dw-input-text>
      </div>
      <div class="form-group" style="max-width: 110px">
        <t1dw-input-text
          id="num_cont_reduc"
          name="num_cont_reduc"
          inputLabelText="Núm. Redução Z"
          [(ngModel)]="coverData.numContReduc"
          [maxlength]="12"
          textAlign="center"
        ></t1dw-input-text>
      </div>
      <div class="form-group">
        <t1dw-autocomplete
          id="cod_regiao"
          name="cod_regiao"
          inputLabelText="Região"
          model-field="codRegiao"
          label-field="label"
          [(ngModel)]="coverData.codRegiao"
          [columns]="codRegiaoColumns"
          [headerTranslation]="codRegiaoHeaderTranslation"
          [searchCallback]="loadRegiao"
        >
        </t1dw-autocomplete>
      </div>
    </div>
    <div class="form-row-space-between">
      <div class="form-group">
        <t1dw-input-text
          id="insc_estad_substit"
          name="insc_estad_substit"
          inputLabelText="Insc. Substituta"
          [(ngModel)]="coverData.inscEstadSubstit"
          [maxlength]="14"
        ></t1dw-input-text>
      </div>
      <div class="form-group">
        <t1dw-input-text
          id="vlr_tot_nota"
          name="vlr_tot_nota"
          inputLabelText="Vlr. Total da Nota"
          [(ngModel)]="coverData.vlrTotNota"
          [formatToNumber]="true"
        ></t1dw-input-text>
      </div>
      <div class="form-group">
        <t1dw-input-text
          id="vlr_produto"
          name="vlr_produto"
          inputLabelText="Vlr. Produto"
          [(ngModel)]="coverData.vlrProduto"
          [formatToNumber]="true"
        ></t1dw-input-text>
      </div>
    </div>
    <div class="form-row-space-between">
      <div class="form-group">
        <t1dw-input-text
          id="vlr_frete"
          name="vlr_frete"
          inputLabelText="Vlr. Frete"
          [(ngModel)]="coverData.vlrFrete"
          [formatToNumber]="true"
        ></t1dw-input-text>
      </div>
      <div class="form-group">
        <t1dw-input-text
          id="vlr_desconto"
          name="vlr_desconto"
          inputLabelText="Vlr. Desconto"
          [(ngModel)]="coverData.vlrDesconto"
          [formatToNumber]="true"
        ></t1dw-input-text>
      </div>
      <div class="form-group">
        <t1dw-input-text
          id="vlr_seguro"
          name="vlr_seguro"
          inputLabelText="Vlr. Seguro"
          [(ngModel)]="coverData.vlrSeguro"
          [formatToNumber]="true"
        ></t1dw-input-text>
      </div>
    </div>
    <div class="form-row-space-between">
      <div
        class="form-row-flex"
        style="flex-direction: column; max-width: 385.5px"
      >
        <label for="ind_fis_jur" class="bento-label">Conta</label>
        <div class="flex-row-compose form-group">
          <t1dw-modal
            title="conta"
            size="xl"
            [gridColumnsData]="contaModalGrid"
            [search]="contaModalSearch"
            (closeSelectedItem)="contaSelected($event)"
          ></t1dw-modal>
          <div class="form-group">
            <t1dw-input-text
              id="cod_conta"
              name="cod_conta"
              [(ngModel)]="coverData.codConta"
              [disabled]="!coverData.id.codEstab || !coverData.id.dataFiscal"
              (blur)="findConta()"
            ></t1dw-input-text>
          </div>
        </div>
      </div>
      <div class="form-group">
        <t1dw-input-text
          id="dsc_conta"
          name="dsc_conta"
          inputLabelText="&nbsp;"
          [(ngModel)]="coverData.dscConta"
          [disabled]="true"
        ></t1dw-input-text>
      </div>
    </div>
    <div class="form-row-space-between">
      <div class="form-group" style="flex-grow: 3">
        <t1dw-autocomplete
          id="cod_canal_distrib"
          name="cod_canal_distrib"
          inputLabelText="Canal Dist. / Obra"
          model-field="codigo"
          label-field="label"
          [(ngModel)]="coverData.codCanalDistrib"
          [columns]="defaultColumns"
          [blockSize]="25"
          [debounceTime]="1000"
          [headerTranslation]="defaultHeaderTranslation"
          [searchCallback]="loadCanaisDistribuicao"
        >
        </t1dw-autocomplete>
      </div>
      <div class="form-group">
        <t1dw-select
          id="ind_tp_frete"
          name="ind_tp_frete"
          inputLabelText="Modal. Frete"
          [items]="indTpFreteItems"
          [(ngModel)]="coverData.indTpFrete"
        ></t1dw-select>
      </div>
      <div class="form-group">
        <t1dw-input-text
          id="nf_ar"
          name="nf_ar"
          inputLabelText="NF AR"
          [(ngModel)]="coverData.numControleDocto"
          [maxlength]="12"
        ></t1dw-input-text>
      </div>
    </div>
    <div class="form-row-flex">
      <div class="form-group">
        <t1dw-input-text
          id="vlr_desc_condic"
          name="vlr_desc_condic"
          inputLabelText="Vlr. Desconto Condic."
          [(ngModel)]="coverData.vlrDescCondic"
          [formatToNumber]="true"
        ></t1dw-input-text>
      </div>
      <div class="form-group">
        <t1dw-input-text
          id="vlr_abat_ntributado"
          name="vlr_abat_ntributado"
          inputLabelText="Valor abatimento não tributado"
          [(ngModel)]="coverData.vlrAbatNtributado"
          [formatToNumber]="true"
        ></t1dw-input-text>
      </div>
    </div>
    <div class="form-row-space-between">
      <div class="form-group">
        <t1dw-input-text-area
          id="obs_inf_adic_nf"
          name="obs_inf_adic_nf"
          inputLabelText="Obs. da Nota Fiscal"
          [(ngModel)]="coverData.obsInfAdicNf"
          [maxlength]="250"
          [rows]="3"
        ></t1dw-input-text-area>
      </div>
    </div>
    <div class="form-row-space-between">
      <div class="form-group">
        <t1dw-radio-group
          id="ind_fatura"
          name="ind_fatura"
          inputLabelText="Tipo de Faturamento"
          [(ngModel)]="coverData.indFatura"
          [radioItems]="indFaturaRadioItems"
        ></t1dw-radio-group>
      </div>
    </div>
    <div class="form-row-space-between">
      <div class="form-group">
        <t1dw-select
          id="cod_uf_orig_dest"
          name="cod_uf_orig_dest"
          inputLabelText="UF Origem"
          [items]="brazilianStates"
          [(ngModel)]="coverData.codUfOrigDest"
        ></t1dw-select>
      </div>
      <div class="form-group" style="flex-grow: 5">
        <t1dw-autocomplete
          id="cod_municipio_orig"
          name="cod_municipio_orig"
          inputLabelText="Município Origem"
          model-field="codigo"
          label-field="label"
          [(ngModel)]="coverData.codMunicipioOrig"
          [columns]="defaultColumns"
          [blockSize]="25"
          [debounceTime]="1000"
          [headerTranslation]="defaultHeaderTranslation"
          [searchCallback]="loadMunicipioOrigem"
          [disabled]="!coverData.codUfOrigDest"
        >
        </t1dw-autocomplete>
      </div>
    </div>
    <div class="form-row-space-between">
      <div class="form-group">
        <t1dw-select
          id="cod_uf_destino"
          name="cod_uf_destino"
          inputLabelText="UF Destino"
          [items]="brazilianStates"
          [(ngModel)]="coverData.codUfDestino"
        ></t1dw-select>
      </div>
      <div class="form-group" style="flex-grow: 5">
        <t1dw-autocomplete
          id="cod_municipio_dest"
          name="cod_municipio_dest"
          inputLabelText="Município Destino"
          model-field="codigo"
          label-field="label"
          [(ngModel)]="coverData.codMunicipioDest"
          [columns]="defaultColumns"
          [blockSize]="25"
          [debounceTime]="1000"
          [headerTranslation]="defaultHeaderTranslation"
          [searchCallback]="loadMunicipioDestino"
          [disabled]="!coverData.codUfDestino"
        >
        </t1dw-autocomplete>
      </div>
    </div>
    <div class="form-row-flex">
      <div class="form-group">
        <t1dw-input-text
          id="comprov_exp"
          name="comprov_exp"
          inputLabelText="Compr. Exportação"
          [(ngModel)]="coverData.comprovExp"
          [maxlength]="15"
        ></t1dw-input-text>
      </div>
    </div>
    <div *ngIf="isMerchandiseInvoice() || isMixedInvoice()">
      <div class="form-row-flex">
        <h3>Somatória dos Itens de Mercadoria</h3>
      </div>
      <hr class="no-margin-t" />
      <div class="form-row-space-between">
        <div class="form-group">
          <t1dw-input-text
            id="vlr_total_mercadoria"
            name="vlr_total_mercadoria"
            inputLabelText="Valor Total"
            [(ngModel)]="coverData.totaisMercadoria.vlrTotal"
            [formatToNumber]="true"
            [disabled]="true"
          ></t1dw-input-text>
        </div>
        <div class="form-group">
          <t1dw-input-text
            id="vlr_base_icms_mercadoria"
            name="vlr_base_icms_mercadoria"
            inputLabelText="ICMS Base"
            [(ngModel)]="coverData.totaisMercadoria.vlrBaseIcms"
            [formatToNumber]="true"
            [disabled]="true"
          ></t1dw-input-text>
        </div>
        <div class="form-group">
          <t1dw-input-text
            id="vlr_icms_mercadoria"
            name="vlr_icms_mercadoria"
            inputLabelText="Valor ICMS"
            [(ngModel)]="coverData.totaisMercadoria.vlrIcms"
            [formatToNumber]="true"
            [disabled]="true"
          ></t1dw-input-text>
        </div>
      </div>
      <div class="form-row-space-between">
        <div class="form-group">
          <t1dw-input-text
            id="qtd_itens_mercadoria"
            name="qtd_itens_mercadoria"
            inputLabelText="Qtde. Itens"
            [(ngModel)]="coverData.totaisMercadoria.qtdItens"
            [formatToNumber]="true"
            [disabled]="true"
          ></t1dw-input-text>
        </div>
        <div class="form-group">
          <t1dw-input-text
            id="vlr_base_ipi_mercadoria"
            name="vlr_base_ipi_mercadoria"
            inputLabelText="IPI Base"
            [(ngModel)]="coverData.totaisMercadoria.vlrBaseIpi"
            [formatToNumber]="true"
            [disabled]="true"
          ></t1dw-input-text>
        </div>
        <div class="form-group">
          <t1dw-input-text
            id="vlr_ipi_mercadoria"
            name="vlr_ipi_mercadoria"
            inputLabelText="Valor IPI"
            [(ngModel)]="coverData.totaisMercadoria.vlrIpi"
            [formatToNumber]="true"
            [disabled]="true"
          ></t1dw-input-text>
        </div>
      </div>
    </div>
    <div *ngIf="isServiceInvoice() || isMixedInvoice()">
      <div class="form-row-flex">
        <h3>Somatória dos Itens de Serviço</h3>
      </div>
      <hr class="no-margin-t" />
      <div class="form-row-space-between">
        <div class="form-group">
          <t1dw-input-text
            id="vlr_total_servico"
            name="vlr_total_servico"
            inputLabelText="Valor Total"
            [(ngModel)]="coverData.totaisServico.vlrTotal"
            [formatToNumber]="true"
            [disabled]="true"
          ></t1dw-input-text>
        </div>
        <div class="form-group">
          <t1dw-input-text
            id="vlr_base_icms_servico"
            name="vlr_base_icms_servico"
            inputLabelText="ICMS Base"
            [(ngModel)]="coverData.totaisServico.vlrBaseIcms"
            [formatToNumber]="true"
            [disabled]="true"
          ></t1dw-input-text>
        </div>
        <div class="form-group">
          <t1dw-input-text
            id="vlr_icms_servico"
            name="vlr_icms_servico"
            inputLabelText="Valor ICMS"
            [(ngModel)]="coverData.totaisServico.vlrIcms"
            [formatToNumber]="true"
            [disabled]="true"
          ></t1dw-input-text>
        </div>
        <div class="form-group">
          <t1dw-input-text
            id="qtd_itens_servico"
            name="qtd_itens_servico"
            inputLabelText="Qtde. Itens"
            [(ngModel)]="coverData.totaisServico.qtdItens"
            [formatToNumber]="true"
            [disabled]="true"
          ></t1dw-input-text>
        </div>
      </div>
    </div>
    <div class="form-row-flex">
      <h3>Histórico de Alterações</h3>
    </div>
    <div class="form-row-space-between">
      <div class="form-group">
        <t1dw-input-text
          id="num_processo"
          name="num_processo"
          inputLabelText="Nº Processo"
          [(ngModel)]="coverData.numProcesso"
          [disabled]="true"
        ></t1dw-input-text>
      </div>
      <div class="form-group" style="flex-grow: 5">
        <t1dw-input-text
          id="usuario_alteracao"
          name="usuario_alteracao"
          inputLabelText="Usuário Alteração"
          [(ngModel)]="coverData.usuario"
          [maxlength]="50"
          [disabled]="true"
        ></t1dw-input-text>
      </div>
      <div class="form-group">
        <t1dw-date-picker
          id="dat_operacao"
          name="dat_operacao"
          inputLabelText="Dt. Operação"
          [(ngModel)]="coverData.datOperacao"
          [disabled]="true"
        ></t1dw-date-picker>
      </div>
    </div>
    <bento-sticky-footer>
      <div style="width: 100%; text-align: right">
        <input
          bento-fm-submit
          class="btn btn-default"
          type="submit"
          value="Salvar"
        />
      </div>
    </bento-sticky-footer>
  </form>
</div>
{{ coverData | json }}
