<div class="container width-full new-module-container">
  <div class="row">
    <div class="col-md-12">
      <h3>Informações Gerais</h3>
    </div>
  </div>
  <hr class="no-margin-t" />
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <div class="form-group">
          <app-autocomplete
            id="cod-estab"
            name="codEstab"
            required="true"
            model-field="codEstab"
            label-field="label"
            inputLabelText="Estabelecimento"
            [show-all-option]="true"
            [(ngModel)]="estabelecimento"
            [columns]="estabColumns"
            [blockSize]="15"
            [headerTranslation]="{
              codEstab: 'Cód. Estabelecimento',
              razaoSocial: 'Razão Social',
              nomeFantasia: 'Nome Fantasia'
            }"
            [searchCallback]="estabCallBackFunction"
          >
          </app-autocomplete>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="data_fiscal" class="bento-label-required"
          >Data Fiscal</label
        >
        <app-date-picker
          id="data-fiscal"
          name="dataFiscal"
          inputLabelText="Data Fiscal"
          required="true"
          buttonLabel="Abrir calendário"
          [(ngModel)]="coverData.id.dataFiscal"
        ></app-date-picker>
      </div>
    </div>
  </div>
</div>
