<bento-combobox
  [id]="id"
  [name]="name"
  bfmField
  [bfmLabel]="bfmLabel ? bfmLabel : inputLabelText"
  [inputLabelText]="inputLabelText"
  [inputLabelClass]="getClass()"
  [itemsObservable]="itemsObservable"
  [options]="comboboxOptions"
  [(ngModel)]="selectedItem"
  (ngModelChange)="onModelChange($event)"
  (search)="searchData($event)"
  (endOfScroll)="onEndOfScroll($event)"
  [disabled]="disabled"
  [required]="required"
  (openChange)="onOpenChange()"
></bento-combobox>
<span
  [bentoBusyLoader]="isBusyLoader"
  size="sm"
  class="app-autocomplete-loader"
></span>
