<div class="number-input-container">
  <label for="{{ id }}" [class]="getClass()">{{ inputLabelText }}</label>
  <bento-number-input
    *ngIf="required === false"
    [id]="id"
    [name]="name"
    [(ngModel)]="model"
    [min]="min"
    [max]="max"
    [style]="getStyle()"
    [disabled]="disabled"
    [required]="false"
  ></bento-number-input>
  <bento-number-input
    *ngIf="required === true"
    [id]="id"
    [name]="name"
    bfmField
    [bfmLabel]="bfmLabel ? bfmLabel : inputLabelText"
    [(ngModel)]="model"
    [min]="min"
    [max]="max"
    [style]="getStyle()"
    [disabled]="disabled"
    [required]="true"
  ></bento-number-input>
</div>
