body, html
  height: 100%
  width: 100%

.container
  max-width: 100%

.app-combobox-loader
  position: relative
  top: -28px
  left: 85%
  transform: translate(-50%, 0.75rem)

.flex-row-compose
  width: 100%
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  column-gap: 0px

.form-flex
  width: 100%
  display: flex
  flex-direction: row
  flex-wrap: wrap
  column-gap: 10px

.form-row-space-between
  width: 100%
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between
  column-gap: 3px

.input-group-addon
  padding: 6px 12px
  background-color: #eee
  border: 1px solid #ccc
  border-radius: 4px 0px 0px 4px
  height: 2.15em
  width: 2.7em

.input-group-addon:first-child
  border-right: 0
