body, html
  height: 100%
  width: 100%

.container
  max-width: 100%

.flex-row-compose
  width: 100%
  display: flex
  justify-content: flex-start
  flex-direction: row
  flex-wrap: nowrap
  column-gap: 0px

.form-row-flex
  width: 100%
  display: flex
  flex-direction: row
  flex-wrap: wrap
  column-gap: 5px

.form-row-space-between
  width: 100%
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between
  column-gap: 5px

.form-group
  word-wrap: break-word

.form-row-space-between .form-group
  flex-grow: 1

.form-group label
  font-weight: 500

.bento-label-required::after, .bento-required-callout::before
  content: " * "
  font-weight: 700

.no-margin-t
  margin-top: 0!important
