<div class="data-picker-container">
  <div *ngIf="inputLabelText">
    <label for="{{ id }}" [class]="getClass()">{{ inputLabelText }}</label>
  </div>
  <div class="bento-datepicker" style="display: flex; flex-wrap: nowrap">
    <input
      [id]="id"
      [name]="name"
      class="form-control bento-datepicker data-picker-input"
      [firstDayOfWeek]="7"
      ngbDatepicker
      [(ngModel)]="dateStructure"
      [bentoDatepickerConfig]="dateConfig"
      #datePicker="ngbDatepicker"
      (click)="onTouched(); datePickerButton.click()"
      (focus)="onTouched()"
      [disabled]="disabled"
      [required]="required"
      [placeholder]="placeholder"
      (ngModelChange)="onModelChange($event)"
      (blur)="onBlur()"
    />
    <button
      #datePickerButton
      class="btn btn-outline-primary btn-icon sm"
      [bentoDatepickerToggle]="datePicker"
      [disabled]="disabled"
      type="button"
      aria-haspopup="false"
      aria-label="Open calendar"
      title="{{ buttonLabel }}"
    >
      <i class="bento-icon-calendar" aria-hidden="true"></i>
    </button>
  </div>
</div>
