<div class="data-picker-container">
  <label for="{{ id }}" class="bento-label">{{ inputLabelText }}</label>
  <div class="bento-datepicker" style="display: flex; flex-wrap: nowrap">
    <input
      [id]="id"
      [name]="name"
      class="form-control bento-datepicker"
      [firstDayOfWeek]="7"
      ngbDatepicker
      [(ngModel)]="dateStructure"
      (ngModelChange)="onModelChange($event)"
      [bentoDatepickerConfig]="dateConfig"
      #datePicker="ngbDatepicker"
      (click)="onTouched(); datePickerButton.click()"
      (focus)="onTouched()"
      [disabled]="disabled"
      [required]="required"
      style="text-align: center; max-width: 175px"
      [placeholder]="placeholder"
    />
    <button
      #datePickerButton
      class="btn btn-outline-primary btn-icon sm"
      [bentoDatepickerToggle]="datePicker"
      [disabled]="disabled"
      type="button"
      aria-haspopup="false"
      aria-label="Open calendar"
      title="{{ buttonLabel }}"
    >
      <i class="bento-icon-calendar" aria-hidden="true"></i>
    </button>
  </div>
</div>
